!!!
%html
  %head
    %title Problems
    = stylesheet_link_tag 'screen', media: "screen, projection"
    = stylesheet_link_tag 'print', media: "print"
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=latin,cyrillic'
    /[if lt IE 8]
      = stylesheet_link_tag 'ie', media: "screen, projection"
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    #main
      %header
        = render "layouts/menu"
      = yield
      #footer_push
    %footer#footer